@model WiseCart.Front.Models.ViewModel.ProductViewModel

<br />
<form>
    <div class="form-row row">
        <div class="form-group col-md-3">
            <label for="inputEmail4">Codigo</label>
            @Html.TextBoxFor(model => model.Code, new { @class = "form-control", required = "required", disabled = "true" })
        </div>
        <div class="form-group col-md-4">
            <label for="inputEmail4">Produto</label>
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", required = "required", disabled = "true" })
        </div>
        <div class="form-group col-md-5">
            <label for="inputPassword4">Marca</label>
            @Html.TextBoxFor(model => model.Brands, new { @class = "form-control", required = "required", disabled = "true" })
        </div>
    </div>
</form>



